.appLinks {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;

    a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 25px;
        font-family: var(--font-poppins);
        font-weight: 400;

        svg {
            margin-right: 1rem;
        }

        &:first-child {
            margin-right: .625rem;
        }
    }

    .mobile {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .appLinks {

        .web {
            display: none;
        }

        .mobile {
            display: flex;
        }

        a {
            padding: .75rem 1rem;
            font-size: .5rem;
        }
    }
}
