.freeTrial {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 32.5rem;
    height: 3.75rem;
    border-radius: 25px;

    input {
        flex-grow: 1;
        height: 90%;
        padding-left: 3rem;
        padding-right: .625rem;
        outline: none;
        border: none;
        color: #000;
        font-family: var(--font-poppins);
        font-size: 1rem;
        font-weight: 400;
        border-radius: 25px;
        background-color: transparent;

        &::placeholder {
            color: rgba(33, 33, 33, 0.60);
        }
    }

    button {
        width: 14.75rem;
        height: 100%;
        display: flex;
        width: 14.75rem;
        height: 3.75rem;
        padding: .375rem 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background: #00A3FF;
        color: #FFF;
        font-family: var(--font-jost);
        font-size: 1.125rem;
        font-weight: 400;
        letter-spacing: .0056rem;
    }
}

@media screen and (max-width: 576px) {
    .freeTrial {
        max-width: none;
        height: 100%;
        width: 100%;
        border-radius: inherit;

        input {
            padding-left: .9375rem;
            font-size: .3rem;
        }

        button {
            font-size: 5.4px;
            width: 4.375rem;
            height: 100%;
        }
    }
}