.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1.5rem;
    width: 100%;
    height: 4.6875rem;
    background: transparent;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #00A3FF;

    .logo {
        width: 8.75rem;
        height: 2.5rem;
    }

    nav {
        width: 100%;
        max-width: 26.875rem;
        margin: 0rem 1.25rem;

        ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            li {
                a {
                    color: #FFF;
                    font-family: var(--font-poppins);
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.08px;
                }
            }
        }
    }

    .contact {
        width: 11.875rem;
        height: 3.1875rem;
        display: flex;
        padding: .5rem 1.25rem;
        justify-content: center;
        align-items: center;
        border-radius: 25px;
        background-color: #FFF;
        color: #00A3FF;
        font-family: var(--font-jost);
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.12px;
        transition: 0.5s ease;

        &:hover {
            background: #E0E0E0;
        }

        &:active {
            background: #0089D6;
            color: #FFF;
        }
    }
}

@media screen and (max-width: 576px) {
    // .header {}
}