@font-face {
    font-family: 'FutuBd';
    src: url('./assets/fonts/Futura-Md-BT-Font/FutuBd.ttf');
}

@font-face {
    font-family: 'FutuBdlt';
    src: url('./assets/fonts/Futura-Md-BT-Font/FutuBdIt.ttf');
}

@font-face {
    font-family: 'FutuMd';
    src: url('./assets/fonts/Futura-Md-BT-Font/FutuMd.ttf');
}

@font-face {
    font-family: 'FutuMdlt';
    src: url('./assets/fonts/Futura-Md-BT-Font/FutuMdIt.ttf');
}

@font-face {
    font-family: 'FuturaBoldBT';
    src: url('./assets/fonts/Futura-Md-BT-Font/FuturaBoldBT.ttf');
}

@font-face {
    font-family: 'FuturaBoldItalicBT';
    src: url('./assets/fonts/Futura-Md-BT-Font/FuturaBoldItalicBT.ttf');
}

@font-face {
    font-family: 'FuturaMediumBT';
    src: url('./assets/fonts/Futura-Md-BT-Font/FuturaMediumBT.ttf');
}

@font-face {
    font-family: 'FuturaMediumItalicBT';
    src: url('./assets/fonts/Futura-Md-BT-Font/FuturaMediumItalicBT.ttf');
}