* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  outline: none;
}

// ::-webkit-scrollbar {
//   width: 0px;
// }