.home {
  .hero {
    min-height: calc(100vh - 4.6875rem);
    position: relative;
    background-image: url("../assets/Rectangle492.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .info {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5rem;

      h1 {
        color: #fff;
        font-family: var(--font-poppins);
        font-size: 4rem;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.02rem;
        max-width: 56.5625rem;
      }

      p {
        max-width: 56.5625rem;
        color: rgba(255, 255, 255, 0.9);
        font-family: var(--font-poppins);
        font-size: 1.75rem;
        font-weight: 400;
        letter-spacing: 0.0088rem;
        margin: 1.5rem 0rem 3.75rem;
      }
    }

    div {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      background: rgba(33, 33, 33, 0.62);
      width: 100%;
      height: 100%;
    }
  }

  .help {
    padding: 6.9375rem 10rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e5f6ff;

    .container {
      width: 100%;
      max-width: 69.8125rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .left {
        // width: calc(50% - 1.875rem);
        max-width: 31.4375rem;
        position: relative;
        margin-right: 1.875rem;

        h2 {
          max-width: 23.4375rem;
          color: #212121;
          font-family: var(--font-poppins);
          font-size: 2.5rem;
          font-weight: 500;
          letter-spacing: 0.0125rem;
        }

        p {
          color: rgba(33, 33, 33, 0.8);
          font-family: var(--font-poppins);
          font-size: 1.25rem;
          font-weight: 400;
          line-height: 180.5%;
          letter-spacing: 0.0063rem;
          margin: 1.25rem 0rem 5rem;
        }

        a {
          display: flex;
          width: 16.205rem;
          height: 3.6875rem;
          padding: 0.75rem 1.25rem;
          justify-content: center;
          align-items: center;
          border-radius: 25px;
          background: #00a3ff;
          color: #fff;
          font-family: var(--font-jost);
          font-size: 1.5rem;
          font-weight: 400;
          letter-spacing: 0.0075rem;
        }

        svg {
          position: absolute;
          top: 4.125rem;
          left: -3.8469rem;
        }
      }

      .right {
        position: relative;

        .img1 {
          width: 24.5rem;
          height: 35.4375rem;
          border-radius: 20px;
        }

        .img2 {
          position: absolute;
          bottom: 2.4831rem;
          left: -7.9781rem;
        }

        svg {
          position: absolute;
          top: -1.9375rem;
          left: -2.0625rem;
        }
      }
    }
  }

  .try {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 10rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 57.1875rem;
      flex-wrap: wrap;

      img {
        // margin-right: 1.875rem;
        width: 17.1875rem;
        height: 35.1875rem;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
          max-width: 23.1875rem;
          color: #212121;
          text-align: center;
          font-family: var(--font-poppins);
          font-size: 2.75rem;
          font-weight: 800;
          letter-spacing: 0.0138rem;

          span {
            background: #cefff7;
            padding: 0rem 0.5rem;
          }
        }

        .trialSection {
          margin: 3.75rem 0rem 4.5rem;
        }
      }
    }
  }

  .excite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 7.5rem 8.4375rem;
    background: #cefff7;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 79.375rem;

      h2 {
        max-width: 36.6875rem;
        color: #212121;
        text-align: center;
        font-family: var(--font-poppins);
        font-size: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.0138rem;

        span {
          background: #fff;
          padding: 0rem 0.5rem;
        }
      }

      p {
        max-width: 44.25rem;
        color: #000;
        text-align: center;
        font-family: var(--font-poppins);
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.0075rem;
        margin: 1.5rem 0rem 3.75rem;
      }

      div {
        display: flex;
      }
    }
  }

  .learn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem 5rem;

    .container {
      width: 100%;
      max-width: 80rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        max-width: 36.6875rem;
        color: #212121;
        text-align: center;
        font-family: var(--font-poppins);
        font-size: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.0138rem;
        margin-bottom: 5rem;

        span {
          color: #8ad4ff;
          padding: 0rem 2rem;
          border-radius: 0.3125rem;
          background: #212121;
        }
      }

      .items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;

        div {
          width: 23.5625rem;
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          img {
            width: 20rem;
            height: 20rem;
          }

          h3 {
            color: #212121;
            font-family: var(--font-poppins);
            font-size: 1.75rem;
            font-weight: 500;
            letter-spacing: 0.0088rem;
            margin: 3.75rem 0rem 1.25rem;
          }

          p {
            color: #212121;
            font-family: var(--font-poppins);
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.005rem;
          }

          &:nth-child(2) {
            margin: 0rem 1.875rem;
          }
        }
      }
    }
  }

  .why {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    padding: 5rem;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 80rem;

      h2 {
        color: #fff;
        text-align: center;
        font-family: var(--font-poppins);
        font-size: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.0138rem;
        margin-bottom: 3.75rem;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          width: calc(50% - 1.875rem);
          max-width: 31.9375rem;
          min-width: 18.75rem;
          display: flex;
          margin-bottom: 3.75rem;

          img {
            width: 5rem;
            height: 5rem;
            border-radius: 1.25rem;
            margin-right: 2.5rem;
          }

          div {
            max-width: 24.4375rem;

            h3 {
              color: #fff;
              font-family: var(--font-poppins);
              font-size: 1.75rem;
              font-weight: 500;
              letter-spacing: 0.0088rem;
              margin-bottom: 1.25rem;
            }

            p {
              color: #fff;
              font-family: var(--font-poppins);
              font-size: 1rem;
              font-weight: 400;
              letter-spacing: 0.005rem;
            }
          }
        }
      }
    }
  }

  .start {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5rem;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 32.9375rem;

      h2 {
        color: #212121;
        text-align: center;
        font-family: var(--font-poppins);
        font-size: 2.75rem;
        font-weight: 800;
        letter-spacing: 0.0138rem;

        span {
          background: #cefff7;
          padding: 0rem 0.5rem;
        }
      }

      .trialSection {
        margin: 3.75rem 0rem 4.5rem;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {
    .hero {
      .info {
        padding: 4rem 1rem;
      }
    }

    .help {
      padding: 5.6875rem 1rem 3.75rem;

      .container {
        justify-content: center;
        flex-direction: column;

        .left {
          margin-right: 0;
          order: 1;
          max-width: none;
          width: 100%;
          flex-grow: 1;
          margin-top: 3.8125rem;

          h2 {
            max-width: none;
          }

          p {
            margin: 0.75rem 0rem 2.5rem;
          }

          a {
            padding: 0.75rem 2.5rem;
          }

          svg {
            display: none;
          }
        }

        .right {
          .img2 {
            bottom: -3.875rem;
            left: 3.375rem;
          }
        }
      }
    }

    .try {
      padding: 1.1875rem 1rem 3.75rem;

      .container {
        justify-content: center;
        flex-direction: column;

        div {
          width: 100%;
          max-width: 18.75rem;
        }

        img {
          order: 1;
          margin-right: 0;
          margin-top: 3.75rem;
        }
      }
    }

    .excite {
      padding: 3.75rem 1rem 4.625rem;
    }

    .learn {
      padding: 3.75rem 1rem;

      .container {
        .items {
          flex-direction: column;

          div {
            max-width: 20.5rem;
          }
        }
      }
    }

    .why {
      padding: 3.75rem 1rem;

      .container {
        max-width: none;
        width: 100%;

        .items {
          .item {
            max-width: none;
            width: 100%;

            img {
              margin-right: 0.9375rem;
            }

            div {
              max-width: none;
            }
          }
        }
      }
    }

    .start {
      padding: 3.75rem 1rem;
    }
  }
}

@media screen and (max-width: 576px) {
  .home {
    .hero {
      min-height: calc(100vh - 3.75rem);
      background-image: url("../assets/Rectangle4492.png");

      .info {
        h1 {
          font-size: 1.5rem;
          line-height: 120%;
          letter-spacing: 0.0075rem;
          max-width: 14.0625rem;
        }

        p {
          max-width: 15.0625rem;
          font-size: 10px;
          letter-spacing: 0.0031rem;
          margin: 0.75rem 0rem 1.25rem;
        }

        .trialSection {
          width: 100%;
          max-width: 14.625rem;
          height: 1.6875rem;
          border-radius: 0.7031rem;
        }
      }
    }

    .help {
      .container {
        .left {
          h2 {
            font-size: 1.5rem;
            max-width: 15.0625rem;
          }

          p {
            font-size: 0.75rem;
            line-height: 180.5%;
          }

          a {
            font-size: 0.9375rem;
            width: 11.25rem;
          }
        }

        .right {
          .img1 {
            width: 15rem;
            height: 21.7013rem;
          }

          .img2 {
            width: 8.1799rem;
            height: 2.7661rem;
            bottom: -1.25rem;
            left: 3.375rem;
          }
        }
      }
    }

    .try {
      .container {
        img {
          width: 10.9902rem;
          height: 22.5rem;
        }

        div {
          h2 {
            font-size: 1.5rem;
            max-width: 12.5rem;
          }

          .trialSection {
            margin: 2.5rem 0rem;
            width: 100%;
            max-width: 14.625rem;
            height: 1.6875rem;
            border-radius: 0.7031rem;
          }
        }
      }
    }

    .excite {
      .container {
        h2 {
          font-size: 1.5rem;
          max-width: 15rem;
        }

        p {
          font-size: 0.75rem;
        }
      }
    }

    .learn {
      .container {
        h2 {
          font-size: 1.5rem;
          max-width: 15.5rem;
        }

        .items {
          div {
            width: 100%;
            margin-bottom: 5rem;

            img {
              width: 20.5rem;
              height: 20.5rem;
            }

            h3 {
              font-size: 1.5rem;
              margin: 1.25rem 0rem 0.75rem;
            }

            p {
              font-size: 0.75rem;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    .why {
      .container {
        h2 {
          font-size: 1.5rem;
        }

        .items {
          .item {
            img {
              width: 1.8182rem;
              height: 1.8182rem;
            }

            div {
              h3 {
                font-size: 1.0909rem;
                margin-bottom: 0.5625rem;
              }

              p {
                font-size: 0.5454rem;
              }
            }
          }
        }
      }
    }

    .start {
      .container {
        h2 {
          font-size: 1.5rem;
          max-width: 18.75rem;
        }

        .trialSection {
          margin: 2.5rem 0rem;
          width: 100%;
          max-width: 14.625rem;
          height: 1.6875rem;
          border-radius: 0.7031rem;
        }
      }
    }
  }
}
